<% layout('layout') -%>

<div class="wrapper">
    <div class="sidebar" data-color="blue" data-image="img/sidebar-5.jpg">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    STUDENT RESOURCE
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/">
                        <i class="pe-7s-user"></i>
                        <p>Create Student</p>
                    </a>
                </li>
                <li>
                    <a href="/api/student_list">
                        <i class="pe-7s-note2"></i>
                        <p>Student List</p>
                    </a>
                </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <h4> Edit Student</h4>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title"></h4>
                            </div>
                            <div class="content">
                                <form>
                                <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Name</label>
                                                <input type="text" id='edit_name' class="form-control" value="<%= edit_students.name %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Faculty</label>
                                                <input type="text" id='edit_faculty' class="form-control" value="<%= edit_students.faculty %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Department</label>
                                                <input type="text" id='edit_department' class="form-control" value="<%= edit_students.department %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Matric number</label>
                                                <input type="number" id='edit_matric_no' class="form-control" value="<%= edit_students.matric_no %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>level</label>
                                                <input type="text" id='edit_level' class="form-control" value="<%= edit_students.level %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>phone</label>
                                                <input type="text" id='edit_phone_no' class="form-control" value="<%= edit_students.phone_no %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Date of Birth</label>
                                                <input type="text" id='edit_date_of_birth' class="form-control" value="<%= edit_students.date_of_birth.toDateString() %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Gender</label>
                                                <input type="text" id='edit_gender'class="form-control" value="<%= edit_students.gender %>">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id='student_id'class="form-control" value="<%= edit_students._id %>">                                    
                                    
                                  <button type="submit" id="editStudent" class="btn btn-info btn-fill pull-right">Update Profile</button>
                                    <div class="clearfix"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2017 <a href="http://#m">Dogo Patience</a>, made with love
                </p>
            </div>
        </footer>

    </div>
</div>

