<% layout('layout') -%>

<div class="wrapper">
    <%- include ./partials/sidebar %>
    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                        <h4>List of Student Resources</h4>
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

                    <div class="col-md-12">
                        <div class="card card-plain">
    
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
    
                                    <thead>
                                        <th>Name</th>
                                        <th>Faculty</th>
                                    	<th>Department</th>
                                    	<th>Matric_no</th>
                                    	<th>Level</th>
                                    	<th>Gender</th>
                                    	<th>Date of Birth</th>
                                    	<th>Phone</th>
                                    	<th>Action</th>
                                    </thead>
                                    <tbody>
                                    <% for (var i = 0; i < students.length; i++) { %>
                                        <tr>
                                            <td><%= students[i].name %></td>
                                            <td><%= students[i].faculty %></td>
                                        	<td><%= students[i].department %></td>
                                        	
                                            <td><%= students[i].matric_no %></td>
                                            <td><%= students[i].level %></td>
                                        	<td><%= students[i].gender %></td>
                                        	<td><%= students[i].date_of_birth.toDateString() %></td>
                                        	
                                        	<td><%= students[i].phone_no %></td>
                                        	<td><a href="/api/View_Student_profile/<%= students[i]._id %>" id="view" ><span class="glyphicon glyphicon-eye-open"></span></a>
                                        	&nbsp &nbsp &nbsp 
										    <a href="/api/edit_student_profile/<%= students[i]._id %>" id="edit"><span class="glyphicon glyphicon-edit"></span></a>
										    &nbsp &nbsp &nbsp      
                                            <span id="deleteButton" class="glyphicon glyphicon-trash"></span>
                                            <input id="student_id" value="<%= students[i]._id %>" hidden>
										    </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2017 <a href="#">Dogo Patience</a>, made with love
                </p>
            </div>
        </footer>



    </div>
</div>
