<% layout('layout') -%>

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="img/sidebar-5.jpg">

    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="#" class="simple-text">
                    Student Resource
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="/Create_Student_profile">
                        <i class="pe-7s-user"></i>
                        <p>Create Resource</p>
                    </a>
                </li>
                <li class="active">
                    <a href="/Student_list">
                        <i class="pe-7s-note2"></i>
                        <p>Student List</p>
                    </a>
                </li>
               
            </ul>
    	</div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
                <div class="collapse navbar-collapse">
                </div>
            </div>
        </nav>

                    <div class="col-md-12">
                        <div class="card card-plain">
                            <div class="header">
                                <h4 class="title">Listing Student Resource</h4>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover">
    
                                    <thead>
                                    	<th>Name</th>
                                    	<th>Department</th>
                                    	<th>Matric_no</th>
                                    	<th>Level</th>
                                    	<th>Gender</th>
                                    	<th>Date of Birth</th>
                                    	
                                    	<th>Phone</th>
                                    	<th>Action</th>
                                    </thead>
                                    <tbody>
                                    <% for (var i = 0; i < posts.length; i++) { %>
                                        <tr>
                                        	<td><%= posts[i].last_name + posts[i].first_name %></td>
                                        	<td><%= posts[i].department %></td>
                                        	
                                            <td><%= posts[i].matric_no %></td>
                                            <td><%= posts[i].level %></td>
                                        	<td><%= posts[i].gender %></td>
                                        	<td><%= posts[i].date_of_birth %>y</td>
                                        	
                                        	<td><%= posts[i].phone_no %></td>
                                        	<td><a href="/View_Student_profile/<%= posts[i].id %>"><span class="glyphicon glyphicon-eye-open"></span></a>
                                        	&nbsp &nbsp       
										    <a href="/Edit_Student_profile/<%= posts[i].id %>" id="delete"><span class="glyphicon glyphicon-edit"></span></a>
										    &nbsp &nbsp       
										    <a href="#" href="/del/<%= posts[i].id %>"" id="delete"><span class="glyphicon glyphicon-trash"></span></a>
										    </td>
                                        </tr>
                                    <% } %>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <p class="copyright pull-right">
                    &copy; 2017 <a href="#">Dogo Patiece</a>, made with love
                </p>
            </div>
        </footer>


    </div>
</div>
